[submodule "3rdparty/mbientlab"]
	path = 3rdparty/mbientlab
	url = https://github.com/mbientlab/MetaWear-SDK-Cpp.git
[submodule "3rdparty/quazip"]
	path = 3rdparty/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "3rdparty/qmsgpack"]
	path = 3rdparty/qmsgpack
	url = https://github.com/romixlab/qmsgpack.git
[submodule "3rdparty/Warble"]
	path = 3rdparty/Warble
	url = git@github.com:mbientlab/Warble.git
